{#
# This template assume you have craftcms-cachebuster installed.
# https://github.com/focuslabllc/craftcms-cachebuster
#}
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  {% if not craft.config.devMode %}
  <link rel="stylesheet" href="{{ cacheBuster('/css/critical.css') }}">
  {% endif %}
  <noscript><link rel="stylesheet" href="//fonts.googleapis.com/css?family=Work+Sans:700,800"></noscript>
  <link rel="stylesheet" href="{% if craft.config.devMode %}/css/main.css{% else %}{{ cacheBuster('/css/main.min.css') }}{% endif %}" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" href="css.css"></noscript>
  {% if not craft.config.devMode %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','XXX-XXXX');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
</head>
<body>
  {% if not craft.config.devMode %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=XXX-XXXX"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  <a class="skip_nav" href="#content">Skip To Content</a>
  <div id="container">
    <header id="header" class="header">
      <nav>
        <ul>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    </footer>
  </div>
  <script src="{% if craft.config.devMode %}/js/script.js{% else %}{{ cacheBuster('/js/script.min.js') }}{% endif %}"></script>
</body>
</html>
